
@{
    ViewData["Title"] = "Index";
}

<section class="area-login">
    <div class="title-principal">
        <h1>
            Crie já sua conta e faça parte<br> da família Pear, a empresa de<br> serviços
            em nuvem que mais<br> cresce em todo o Brasil.
        </h1>
    </div>
    <div class="login">
        <div>
            <img src="img/PEAR PNG.png" alt="Logo da empresa, composto por um desenho de pera onde dentro possui o nome Pear.">
        </div>
        <form method="post">
            <input type="text" name="nome" placeholder="Nome completo" autofocus>
            <input type="tel" name="telefone" placeholder="Telefone">
            <input type="date" name="data" placeholder="Data de nascimento">
            <input type="email" name="email" placeholder="Email">
            <input type="email" name="email" placeholder="Confirme seu email">
            <input type="password" name="senha" placeholder="Senha">
            <input type="password" name="senha" placeholder="Confirme sua senha">
            <input type="submit" value="Criar conta">
        </form>
    </div>

</section>

