
@{
    ViewData["Title"] = "Index";
}

    <div class="showcase-area">
        <div class="container-1">
            <div class="left">
                <div class="big-title">
                    <h1 class="h11">O futuro está conosco! Viemos para ficar e inovar!</h1>
                </div>
                <p class="text">
                    A PEAR é uma empresa multinacional Brasileira que busca como objetivo armazenar,
                    compartilhar e sincronizar qualquer arquivo em substância de nuvem. O armazenamento em nuvem
                    é um modelo de computação em nuvem que permite armazenar dados e arquivos na Internet por
                    meio de um provedor de computação em nuvem que você acessa usando a Internet pública ou uma
                    conexão de rede privada dedicada. Visamos dedicar o talento e tecnologia para contribuir em
                    uma melhor sociedade e conforto para os usuários por meio de serviços inovadores.
                </p>
                <div class="cta">
                </div>
            </div>

            <div class="right">
                <img class="img1" src="img/PEAR PNG.png" alt="Logo da empresa, composto por um desenho de pera onde dentro possui o nome Pear.">
            </div>
        </div>
    </div>

    <br>

    <h2 class="h21">De onde viemos?</h2>
    <p class="p1">
        A PEAR nasceu no Brasil em 2020 e se transformou em um dos maiores conglomerados do país e do mundo, com atuação em diversas áreas. Apesar da diversidade dos negócios, ela é mais conhecida globalmente pelo armazanamento em nuvem. Fundada por Agnaldo Júnior, Luana Oliveira e Thiago, a empresa teve origens modestas, dedicada somente à criação e inovação de softwares. Por motivos tão variados como a sua filosofia de design estético completo até suas campanhas de publicidade distintas, a PEAR estabeleceu uma reputação única na indústria de eletrônicos por sua propriedade e gerenciado bônus por uma empresa de hospedagem.
    </p>

    <div class="container-1">
        <div class="card card-1">
            <div class="card-header">
            </div>

            <div class="card-body">
                <h3 class="card-local">Pear</h3>
                <h2 class="card-titulo">MISSÃO</h2>
                <p class="card-texto">
                    <br>
                    Nossa missão é capacitar a organização no planeta e levar a experiência de ter todos arquivos importantes em diversos aparelhos sem necessidade de apagá-los por falta de mémoria.
                </p>
            </div>

            <div class="card-footer">
            </div>
        </div>

        <div class="card card-2">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h3 class="card-local">Pear</h3>
                <h2 class="card-titulo">VISÃO</h2>
                <p class="card-texto">
                    <br>
                    Demonstrar liderança ao suportar as comunidades em que adotamos, desenvolvendo hardware, software e serviços de internet inovadores.
                </p>
            </div>
            <div class="card-footer">
            </div>
        </div>

        <div class="card card-3">
            <div class="card-header">
            </div>

            <div class="card-body">
                <h3 class="card-local">Pear</h3>
                <h2 class="card-titulo">VALORES</h2>
                <p class="card-texto">
                    <br>
                    Paixão por tecnologia, Intregridade, Privacidade, Conforto aos usuários e Transparência.
                </p>
            </div>
            <div class="card-footer">
            </div>
        </div>

