
@{
    ViewData["Title"] = "Index";
}


<main id="main3">
    <h1>Contate-nos!</h1>
    <div class="social-media">
        <a href="#">
            <img src="img/google.png" alt="Google">
        </a>
        <a href="#">
            <img src="img/facebook.png" alt="Facebook">
        </a>
        <a href="#">
            <img src="img/linkedin.png" alt="Linkedin">
        </a>
    </div>

    <div class="alternative">
        <span>OR</span>
    </div>
    <br>

    <p class="p3">Olá! Você está com dúvidas ou precisa relatar um problema com algum produto ou serviço da Pear? Nós podemos ajudar.</p>

    <form action="">
        <label for="name">
            <span>Nome</span>
            <input type="text" id="name" name="name">
        </label>

        <label for="email">
            <span>E-mail</span>
            <input type="email" id="email" name="email">
        </label>

        <label for="password">
            <span>Senha</span>
            <input type="password" id="password" name="password">
        </label>

        <input type="submit" value="Sign Up" id="button">
    </form>
</main>
<section class="images">
    <img src="img/pear.svg" alt="desenho ilustrando um celular gigante e duas pessoas ao lado dele.">
    <div class="circle"></div>
</section>



