html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*

    CABE큐LHO

*/
/*CABE큐LHO 1*/
.navbar img {
    width: 150px;
    height: 150px;
    margin-left: 55%;
    position: sticky;
    top: 0;
}
.navbar-nav {
    margin-left: 10%;
}
.header2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: 8%;
}
.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
    width: 355px;
    height: 420px;
    padding: 35px;
    border-radius: 10px;
}

    .login form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .login input {
        margin-top: 10px;
        background-color: #252a34;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 8px;
        color: white;
        padding-left: 10px;
    }

    .login img {
        width: 150px;
        height: auto;
    }

.input::placeholder::placeholder {
    color: black;
    font-size: 14px;
}

form [type="submit"] {
    display: block;
    background-color: hsl(120, 100%, 18%);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

    form [type="submit"]:hover {
        transition: background-color 0,3;
        background-color: hsl(120, 52%, 42%);
    }

.p5 {
    color: white;
    margin-top: 10px;
}

.a5 {
    color: hsl(120, 100%, 18%);
    text-decoration: none;
    margin-left: 10px;
}

.a5:hover {
        color: hsl(120, 52%, 42%);
    }
/*CABE큐LHO 1*/
/*CABE큐LHO 2*/
.title-principal6 {
    color: hsl(120, 100%, 18%);
    font-size: 20px;
    
    font-size: 22px;
    margin: auto 20px;
}

.area-login6 {
    display: flex;
    height: 100vh;
    justify-content: left;
    align-items: center;
}

.login6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 620px;
    padding: 35px;
    border-radius: 10px;
}

    .login6 form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .login6 input {
        margin-top: 10px;
        background-color: #252a34;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 8px;
        color: white;
        padding-left: 10px;
    }

    .login6 img {
        width: 150px;
        height: auto;
    }

.input::placeholder::placeholder {
    color: black;
    font-size: 14px;
}

form [type="submit"] {
    display: block;
    background-color: hsl(120, 100%, 18%);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

    form [type="submit"]:hover {
        transition: background-color 0,3;
        background-color: hsl(120, 52%, 42%);
    }

/*CABE큐LHO 2*/
/*

CABE큐LHO

*/
/*

    CARROSSEL 

*/
#carouselExample {
    position: relative;
}

#h1-img2 {
    color: white;
}

#h1-img3 {
    color: black;
}

.title h1 {
    position: absolute;
    margin-top: 40px;
    font-size: 4em;
    margin-left: 130px;
    color: hsl(120, 100%, 18%);
    font-weight: bold;
}

.title button {
    position: absolute;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: hsl(120, 100%, 18%);
    margin-top: 450px;
    margin-left: 200px;
    transition: background-color 0.3s;
    box-shadow: 10px 15px 15px hsl(120, 100%, 0%);
    text-transform: uppercase;
}

a:hover {
    text-transform: capitalize;
    color: hsl(120, 100%, 18%);
}

.title button:hover {
    background-color: hsl(120, 52%, 42%);
    cursor: pointer;
}
/*

    CARROSSEL 

*/
/*

    PRINCIPAL 1

*/
main h3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#main_content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    row-gap: 100px;
    margin-left: 11%
}

    #main_content h4 {
        font-size: 30px;
        margin-bottom: 20px;
        
    }

    #main_content p {
        font-size: 20px;
    }

.fa-box-open {
    font-size: 70px;
    color: hsl(120, 100%, 18%);
    margin-left: 25%;
}

.fa-stopwatch {
    font-size: 70px;
    color: hsl(120, 100%, 18%);
    margin-left: 25%;
}

.fa-user-lock {
    font-size: 70px;
    color: hsl(120, 100%, 18%);
    margin-left: 25%;
}

.fa-eye {
    font-size: 70px;
    color: hsl(120, 100%, 18%);
    margin-left: 25%;
}
/*

    PRINCIPAL 1

*/
/*

    PRINCIPAL 2

*/
#main2_content::before {
    content: '';
    display: block;
    width: 500px;
    height: 10px;
    background-color: hsl(120, 100%, 18%);
    margin-bottom: 20%;
    left: 50%;
    transform: translateX(-80%);
    position: absolute;
    border-radius: 10px;
}

#main2_content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
    transform: translateX(+13%);
    font-size: 25px;
    column-gap: 100px;
    margin-top: 100px;
}

#botao-conta {
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: hsl(120, 100%, 18%);
    transition: background-color 0.3s;
    padding: 10px;
    align-items: center;
    justify-content: right;
    font-size: 15px;
    text-transform: uppercase;
}

    #botao-conta:hover {
        background-color: hsl(120, 52%, 42%);
        cursor: pointer;
    }
/*

    PRINCIPAL 2

*/
/*

    FOOTER

*/

.border-top {
    background-color: hsl(0, 100%, 0%);
}
/*

    FOOTER

*/
/*
    ESTILIZA츒 DA PAGINA EMPRESA
*/
.light {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
}

.dark {
    --darkOne: #f3f3f3;
    --darkTwo: #fff;
    --lightOne: #ccc;
    --lightTwo: #e7e3e3;
}

*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.img1 {
    width: 100%;
}
.h11 {
    color: hsl(120, 100%, 18%);
}
.h21 {
    text-align: center;
    color: hsl(120, 100%, 18%);
}

.p1 {
    text-align: center;
}

.container-1 {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
    z-index: 10;
}

header .container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.links a {
    color: var(--lightTwo);
    margin-left: 4.5rem;
    display: inline-block;
    transition: 0.3s;
}

    .links a:hover {
        color: var(--hoverColor);
        transform: scale(1.05);
    }

.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #fff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

.showcase-area .container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.big-title {
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
}

.text {
    color: var(--lightOne);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
}

.card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: hsl(140, 100%, 69%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.container-1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-header {
    width: 200%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.card-local {
    font-size: 16px;
    margin: 10px 0;
}

.card-titulo {
    font-size: 32px;
    margin: 15px 0;
}

.card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
}

.card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
}

    .card-footer a {
        color: #4ab900;
        display: block;
        padding: 16px;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 600;
    }

.card-1 .card-footer {
    background-color: #2740d1;
}

.card-1 .card-local {
    color: #2740d1;
}

.card-2 .card-footer {
    background-color: #d12761;
}

.card-2 .card-local {
    color: #d12761;
}

.card-3 .card-footer {
    background-color: #00c702;
}

.card-3 .card-local {
    color: #00c702;
}

/*
    ESTILIZA츒 DA PAGINA EMPRESA
*/
/*
    ESTILIZA츒 DA PAGINA SERVI큞S
*/
.botao2 {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.botao2:hover {
        text-transform: capitalize;
        color: hsl(120, 100%, 18%);
    }

#conteiner-principal {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
}

#title-centralizado {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

    #title-centralizado h3::after {
        content: '';
        display: block;
        width: 800px;
        height: 5px;
        background-color: hsl(120, 100%, 18%);
        transform: translateY(-1000%);
        position: absolute;
        border-radius: 10px;
    }

#conteiner-secundario {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 100px ;
    gap: 100px;
}

    #conteiner-secundario #imagem1 {
        width: 70px;
        height: 70px;
        font-size: 70px;
        color: hsl(120, 100%, 18%);
        display: flex;
        margin: 20px 90px;
    }

    #conteiner-secundario #imagem2 {
        width: 70px;
        height: 70px;
        font-size: 70px;
        color: hsl(120, 100%, 18%);
        display: flex;
        margin: 20px 90px;
    }

    #conteiner-secundario #imagem3 {
        width: 70px;
        height: 70px;
        font-size: 70px;
        color: hsl(120, 100%, 18%);
        display: flex;
        margin: 20px 90px;
    }

#button-secundario button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 300px;
    height: 55px;
    border-radius: 18px;
    background-color: hsl(120, 100%, 18%);
    transition: background-color 0.3s;
    font-size: 18PX;
    margin: 20px auto;
}

    #button-secundario button:hover {
        background-color: hsl(120, 52%, 42%);
        cursor: pointer;
    }

.title-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

    .title-principal h1 {
        color: hsl(120, 100%, 18%);
    }

    .title-principal h3 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 10px;
        color: hsl(120, 100%, 18%);
    }

    .title-principal p {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 10px;
    }

    .title-principal button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 300px;
        height: 55px;
        border-radius: 18px;
        background-color: hsl(120, 100%, 18%);
        transition: background-color 0.3s;
        font-size: 18PX;
        margin: 20px auto;
    }

        .title-principal button:hover {
            background-color: hsl(120, 52%, 42%);
            cursor: pointer;
        }

.subtitulo1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

    .subtitulo1 h2 {
        color: hsl(120, 100%, 18%);
    }
/*
    ESTILIZA츒 DA PAGINA SERVI큞S
*/
/*
    ESTILIZA츒 DA PAGINA TRABALHE CONOSCO
*/

.centro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.centro2 {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 5rem;
    z-index: 10;
    transform: translateX(+20%);
}

.centro3 img {
    width: 450px;
    height: 450PX;
}

#titulo {
    font-family: sans-serif;
    color: hsl(120, 100%, 18%);
    margin-left: 0%;
}

#subtitulo {
    font-family: sans-serif;
    color: hsl(120, 100%, 18%);
    margin-left: 11%;
}

#check {
    display: inline-block;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: hsl(0, 100%, 0%);
    border-radius: 5px;
}


.grupo:before, .grupo:after {
    display: table;
}


.grupo:after {
    clear: both;
}


.campo {
    margin-bottom: 1em;
}


    .campo label {
        margin-bottom: 0.2em;
        color: hsl(0, 100%, 0%);
        display: block;
    }


fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}


.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid hsl(0, 100%, 0%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

    .campo select option {
        padding-right: 1em;
    }


    .campo input:focus,
    .campo select:focus,
    .campo textarea:focus {
        background: #E0E0F8;
    }


.botao {
    font-size: 1.2em;
    background: hsl(120, 100%, 18%);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -20%)
}


    .botao:hover {
        background: rgba(0, 0, 0, 0.2) box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
        text-shadow: none;
    }


.botao,
select {
    cursor: pointer;
}

/*
    ESTILIZA츒 DA PAGINA TRABALHE CONOSCO
*/
/*
    ESTILIZA츒 DA PAGINA FALE CONOSCO
*/
#main3 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #main3 h1 {
        color: hsl(120, 100%, 18%);
        font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }

.p3 {
    color: hsl(120, 100%, 18%);
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}


#main3.social-media {
    display: flex;
    align-content: center;
}

    #main3 .social-media a {
        text-decoration: none;
    }

    #main3 .social-media img {
        width: 36px;
        margin-left: 3rem;
    }

    #main3 .social-media a:first-child img {
        margin-left: 0;
    }

#main3 .alternative {
    margin-top: 1rem;
}

    #main3 .alternative span {
        font-size: 1.1rem;
        font-weight: 400;
        color: hsl(120, 100%, 18%);
        position: relative;
    }

        #main3 .alternative span::before, main .alternative span::after {
            position: absolute;
            content: '';
            height: 1px;
            width: 100px;
            bottom: 50%;
            right: 50px;
            background: hsl(120, 100%, 18%);
        }

        #main3 .alternative span::after {
            left: 50px;
        }

#main3 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #main3 form label {
        display: flex;
        flex-direction: column;
    }

        #main3 form label span {
            font-size: 1.1rem;
            margin-top: 2rem;
        }

    #main3 form input {
        background: #161923;
        width: 300px;
        height: 50px;
        padding: 0 0.5rem;
        margin-top: 1rem;
        outline: none;
        color: rgba(166, 166, 166);
        font-size: 1rem;
        border: 1px solid #040B18;
        border-radius: 8px;
    }

        #main3 form input[type="submit"] {
            cursor: pointer;
            width: 50%;
            margin-top: 4rem;
            border: none;
            border-radius: 32px;
            background: hsl(120, 100%, 18%);
            color: white;
            font-size: 1.1rem;
            transition: all .3s ease-in-out;
        }

            #main3 form input[type="submit"]:hover {
                background: hsl(120, 100%, 70%);
            }

section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

    section.images img {
        width: 100%;
    }

    section.images .circle {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, #E8CBC0, hsl(120, 100%, 50%));
        clip-path: circle(40% at right 80%);
        z-index: -1;
    }

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    #main3 {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    #main3 h1 {
        font-size: 2rem;
    }

    #main3 .alternative span {
        font-size: 0.8rem;
    }

    #main3 form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}
/*
    ESTILIZA츒 DA PAGINA FALE CONOSCO
*/
