
@{
    ViewData["Title"] = "Serviços";
}

<div id="conteiner-principal">
    <div class="title-principal">
        <h1>TRANSFORME SEU NEGÓCIO!</h1>
        <h3>A migração para um sistema cloud <br>garante muito mais segurança e agilidade.</h3>
        <p>
            <strong>Porque ter um servidor na Nuvem é a melhor opção?</strong>
            <br>

            Economia de custos;<br>
            Segurança aprimorada;<br>
            Escalabilidade e flexibilidade;<br>
            Acesse 24h por dia, de onde estiver!
        </p>
        <a class ="botao2" asp-area="" asp-controller="CadastreSe" asp-action="Index">
            <button><strong>Quero tranformar meu negócio</strong></button>
        </a>
    </div>
    <div class="subtitulo1">
        <h2>CLOUD QUE TRABALHAMOS:</h2>
        <p>Entendemos que cada cliente tem<br> necessidades diferentes, por isso <br>disponibilizamos diversos serviços de Nuvem, <br>sendo possível escolher o que melhor atende<br> no momento, confira alguns de nossos serviços:</p>
        <p>
            <strong>
                Armazenamento;<br>
                Banco de dados;<br>
                Segurança e identidade;
            </strong>
        </p>
    </div>
    <div class="subtitulo1">
        <h2>MIGRE DADOS DE FORMA SIMPLES E SEGURA</h2>
        <p>
            Faça como outras empresas que confiou nos serviços<br> da Pear para fazer uma migração de dados de <br>forma segura e ainda reduzir custos.<br>
            Você não precisa gastar com hardware e<br> software quando pode simplesmente pagar por <br><strong>serviços em nuvem conforme sua demanda.</strong><br> Economize espaço e energia, investindo em um <br>sistema que acompanha o crescimento da sua empresa!
        </p>
    </div>
</div>
<main>
    <div id="title-centralizado">
        <h3>Acelere a adoção a nuvem - Infraestrutura para<br> o futuro!</h3>
    </div>

    <div id="conteiner-secundario">
        <div>
            <i id="imagem1" class="fa-solid fa-sitemap"></i>
            <h3>ERP - Migração de Sistema</h3>
            <br>
            <p>Sua empresa cresceu e seu sistema não<br> comporta mais? Ou precisa de novos <br>relatórios? Faça a migração com quem é especialista.</p>
        </div>
        <div>
            <i id="imagem2" class="fa-solid fa-computer"></i>
            <h3>Migração de banco de dados</h3>
            <br>
            <p>Migre todos os dados da sua<br> empresa para a nuvem. Economize<br> dinheiro adquirindo mais segurança<br> e estabilidade!</p>
        </div>
        <div>
            <i id="imagem3" class="fa-solid fa-cloud"></i>
            <h3>Migração de aplicativos</h3>
            <br>
            <p>Garanta mais desempenho,<br> escalonabilidade, confiabilidade e <br>segurança! Proporcionando a <br>experiência de alta qualidade que os <br>clientes esperam no mundo digital<br> atual.</p>
        </div>
    </div>
</main>
<div id="button-secundario">
    <a class="botao2" asp-area="" asp-controller="CadastreSe" asp-action="Index">
        <button><strong>MIGRAR MEU NEGÓCIO</strong></button>
    </a>
</div>

